<div>
  <h2 class="text-2xl font-semibold">Form</h2>
<!--  <form [formGroup]="todoForm" (submit)="onSubmitTodo()" class="shadow dark:shadow-white/70 rounded p-4 mt-3">-->
<!--    <input type="text" formControlName="id" hidden/>-->
<!--    <div class="flex items-center">-->
<!--      <label class="p-1 px-2 bg-slate-200 border border-slate-300 rounded-tl-lg rounded-bl-lg cursor-pointer" for="isDone">-->
<!--        <input-->
<!--         id="isDone"-->
<!--         formControlName="isDone"-->
<!--         type="checkbox"-->
<!--        />-->
<!--      </label>-->
<!--      <input-->
<!--       type="text"-->
<!--       placeholder="Todo"-->
<!--       formControlName="name"-->
<!--       class="p-1 px-2 flex-1 border border-slate-300 outline-none"-->
<!--      />-->
<!--      <button-->
<!--        type="submit"-->
<!--        class="p-4 border border-blue-400 px-3 py-1 dark:text-blue-400 text-white uppercase rounded-tr-lg rounded-br-lg dark:hover:bg-blue-400 hover:bg-blue-400/90 bg-blue-400 dark:bg-transparent dark:hover:text-white transition-colors duration-150"-->
<!--      >Add</button>-->
<!--    </div>-->
<!--    <app-validation-message-component-->
<!--      *ngIf="isFormValid('name')"-->
<!--      [control]="name"-->
<!--      label="Todo"-->
<!--    ></app-validation-message-component>-->
<!--  </form>-->
</div>
