<div class="mx-auto w-9/12 flex flex-row items-center">
  <div class="basis-1/3">
    <div class="flex flex-col">
      <!-- judul -->
      <div class="flex items-center">
        <svg class="stroke-gray-400 stroke-2 h-5 w-5">
          <line x1="0" y1="10px" x2="10px" y2="10px" />
        </svg>
        <h2 class="uppercase text-xs font-extralight tracking-ngangkang">
          career path
        </h2>
      </div>
      <h3 class="text-3xl text-white">Experiences</h3>

      <div class="flex flex-col gap-y-5 mt-10 pr-20">
        <a
          class="hover:bg-blue-200 hover:text-blue-800 flex flex-row justify-between bg-white w-full p-4 rounded-lg"
          href=""
        ><span>Apple</span> >
        </a>
        <a
          class="hover:bg-blue-200 hover:text-blue-800 flex flex-row justify-between bg-white w-full p-4 rounded-lg"
          href=""
        ><span>Microsoft</span> >
        </a>
        <a
          class="hover:bg-blue-200 hover:text-blue-800 flex flex-row justify-between bg-white w-full p-4 rounded-lg"
          href=""
        ><span>Google</span> >
        </a>
        <a
          class="hover:bg-blue-200 hover:text-blue-800 flex flex-row justify-between bg-white w-full p-4 rounded-lg"
          href=""
        ><span>The Ucups</span> >
        </a>
      </div>
    </div>
  </div>

  <div class="basis-2/3 pl-20 text-white">
    <h4 class="text-2xl font-bold text-gray-200">
      Front-end Developer Apple.Inc
    </h4>
    <h5 class="text-sm font-light">California, United States</h5>
    <p class="mt-5 text-light text-gray-200">
      November 2020 - Present : Full Time
    </p>
    <div class="mt-2">
          <span
            class="border-white border border-solid px-2 py-1 rounded-md text-sm font-mono"
          >Swift</span
          >
      <span
        class="border-white border border-solid px-2 py-1 rounded-md text-sm font-mono"
      >Go</span
      >
    </div>
    <hr class="my-5" />
    <ul class="list-disc list-inside leading-10">
      <li>Improving overall website performance for mobile users,</li>
      <li>
        Collaborate with back-end developers and web designers to improve
        usability,
      </li>
      <li>Add voice search feature for mobile app using dictation,</li>
      <li>
        Developing an admin panel to comply with spatial computing for
        Vision Pro.
      </li>
    </ul>
  </div>
</div>
