<div class="mx-auto flex h-screen items-center w-9/12">
  <div class="basis-1/2">
    <!-- deskripsi -->
    <div class="flex items-center text-white">
      <svg class="stroke-gray-400 stroke-2 h-5 w-5">
        <line x1="0" y1="10px" x2="10px" y2="10px" />
      </svg>
      <h2 class="uppercase text-xs font-extralight tracking-ngangkang">
        my name is
      </h2>
    </div>
    <h3 class="font-bold text-4xl text-white">
      <span>Muhammad Yudha</span>
      <span class="text-blue-700"> Adi Pratama.</span>
    </h3>
    <p class="font-light text-white">
      Creative front-end developer with more than 5+ years of experience in
      enterprise companies and startups. Proficient in HTML, Tailwind CSS,
      Javascript, NextJS, and ReactJS. Passionate about Cats.
    </p>
    <div class="flex flex-row mt-5 space-x-3">
      <img
        class="w-6 h-6"
        src="images/Instagram.svg"
        alt="instagram-logo"
      />
      <img class="w-6 h-6" src="images/Github.svg" alt="github-logo" />
      <img class="w-6 h-6" src="images/Twitter.svg" alt="twitter-logo" />
      <img class="w-6 h-6" src="images/Linkedin.svg" alt="linkedin-logo" />
    </div>
  </div>
  <!-- avatar -->
  <div class="basis-1/2">
    <img class="mx-auto w-6/12" src="images/avatar.svg" alt="foto ketje" />
  </div>
</div>
